h1{
  font-family:"Bookman Old Style";
  color:white;
  
}
.intro{
  color:white;
  font-family:comic sans ms;
  text-align:center;
}
.madeby{
    color:white;
    font-family: cursive;
    margin: 20px;
    padding:20px;
} 
#main-div{
  background-color: #08080a;
  color:white
}
