body{
  background-color:black;
    text-align: center;
}
h1{
  text-align:center;
  font-family:"Bookman Old Style";
  font-size:50px;
  color:white;
}
.intro{
  color:white;
  font-family:comic sans ms;
  left-align:auto;
  right-align:auto;
  text-align:center;
    
}
.madeby{
    color:white;
    font-family: cursive;
    margin: 20px;
    padding:20px;
}

.button
{
  position: absolute;
  left:41%;
  top:28%;
  outline: none;
  cursor: pointer;;
  border-radius: 10px 10px 10px 10px;
  font-size: 115%;
  height:31px;
  width: 130px;
}